@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1000 West Benton Street<br />
    Iowa City, IA 52246<br />
    <abbr title="Phone">P:</abbr>
    563.940.8281
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:JohnMiller790@gmail.com">JohnMiller790@gmail.com</a><br />
</address>